<div class="dropdown">
  <a class="position-relative " data-bs-toggle="dropdown" aria-expanded="false" href="#"><span class="item-count">10</span><i
      class='bx bx-cart-alt'></i> <span class="text-item">Cart <i class='bx bx-chevron-down'></i></span></a>
  <div class="dropdown-menu dropdown-menu-right cart-dropdown">
    <div>
      <p>2 item(s) in your cart - <span>$665.00</span></p>
      <div class="minicart-products">
        <div class="minicart-product-info d-flex">
          <figure>
            <a href="#"> <img class="img-border" src="assets/images/products/ripe-delicious-organic-red-apples_1.png"
                alt="Red Love Apple"></a>
          </figure>
          <div class="product-meta">
            <h5 class="product-title">
              <a href="#">Redlove Apple</a>
            </h5>
            <span class="product-price">1 x $280.00</span>
          </div>
          <a class="delete-btn" href="#" title="Delete Product">
            <span class="item-delete"><i class="bx bx-trash"></i></span>
          </a>
        </div>
        <div class="minicart-product-info d-flex">
          <figure>
            <a href="#"> <img class="img-border" src="assets/images/products/brocoli_cauliflower.png"
                alt="brocoli_cauliflower"></a>
          </figure>
          <div class="product-meta">
            <h5 class="product-title">
              <a href="#">Broccoli Cauliflower</a>
            </h5>
            <span class="product-price">1 x $280.00</span>
          </div>
          <a class="delete-btn" href="#" title="Delete Product">
            <span class="item-delete"><i class="bx bx-trash"></i></span>
          </a>
        </div>


        <div class="minicart-product-calculation">
          <div class="row">
            <div class="col col-md-6">
              <p><strong>Shipping:</strong> <span>$7.00</span></p>
              <p><strong>Tax:</strong> <span>Free</span></p>
              <p><strong>Total: </strong> <span>$665.00</span></p>
            </div>
            <div class="col col-md-6">
              <div class="dcart-action">
                <a href="cart.html" class="btn btn-primary">View Cart</a>
                <a href="checkout.html" class="btn btn-secondary">Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
